
body {
	text-align: center;
	font-size: 2em;
	font-family: 'Dancing Script OT', arial;
	background-color:#000;
}
/* estilos header menu  */
header{
	width:100%;
	padding:10px;
	margin:auto;
	background-color:#5b7989;
	
	}
header h1{
	color:#FFF;
	text-align:left;
	font-size:1em; 
	-webkit-text-shadow: 2px 2px 2px rgba(0,0,0,0.75);
	-moz-text-shadow: 2px 2px 2px rgba(0,0,0,0.75);
	text-shadow: 2px 2px 2px rgba(0,0,0,0.75);
}
header a{
	color:#FFF;
	text-decoration:none;
	text-transform:uppercase;
	font-size:16px;
	
}
header li{
	float:right;
	display:inline;
	padding:30px 20px 0 20px;
}
header #marca{
	float:left;
}

header nav{
	float:right;
	margin-top:0px;
}
header .actual a {
	color:#036;
	font-weight:bold;
}
header a:hover{
	color:#CCC;
	font-weight:bold;
}

/* fin estilos header  */
.main{
	width:100%;
	background-color:#82c3a6;
	margin:auto;	
}
.main img{
	width:70%;
	padding:10px;
	height:auto;
	margin:auto;
	-webkit-box-shadow: 2px 2px 2px 2px #02010a;
	-moz-box-shadow: 2px 2px 2px 2px #02010a;
	box-shadow: 2px 2px 2px 2px #02010a;
}

.padre {
	margin: 0 auto;
    width: 75%;
	max-width:1000px;
	border-radius:10px;
	overflow:hidden;
}

.contenedor{
	width::100%;
	margin:auto;
	overflow:hidden;
}
ul{
	margin:0;
	padding:0;
	font-size:0.7em;
}
/* cajas */
#cajas{
	background-color:#d5c75f;
	padding:15px;
	border:1px;
			
}
#cajas .caja{
	float:left;
	text-align:center;
	width:50%;
	
}
#cajas .caja img{
	width:90%;
	height:50%;
	-webkit-box-shadow: 2px 2px 2px 2px #02010a;
	-moz-box-shadow: 2px 2px 2px 2px #02010a;
	box-shadow: 2px 2px 2px 2px #02010a;
}
#cajas .caja h3{
	font-size:16px;
	
}
#cajas .caja .efecto:hover{
	transform:rotate(10deg);
	border:2px;
	-webkit-box-shadow: 10px 10px 5px 0px #82c3a6;
	-moz-box-shadow: 10px 10px 5px 0px #82c3a6;
	box-shadow: 10px 10px 5px 0px #82c3a6;
}
#cajas .caja .efecto2:hover{
	transform:rotate(10deg);
	transform:translate(20px,5px);
	border:2px;
	-webkit-box-shadow: 10px 10px 5px 0px #82c3a6;
	-moz-box-shadow: 10px 10px 5px 0px #82c3a6;
	box-shadow: 10px 10px 5px 0px #82c3a6;
}


/* fin cajas*/

/* cajas footer */
#cajas-footer{
	background-color:#c6d5c5;
	padding:15px;
	border:8px;
			
}
#cajas-footer .caja{
	float:left;
	text-align:center;
	width:25%;
	
}
#cajas-footer .caja p{
	font-size:14px;
}
#cajas-footer .caja h3{
	font-size:18px;
}
/* fin cajas footer*/

/*  PAGINA RETRATOS */
#cajas-foto{
	background-color:#d5c75f;
	padding:15px;
			
}
#cajas-foto .foto{
	float:left;
	text-align:center;
	width:31%;
	padding:10px;
}
#cajas-foto .foto img{
	width:90%;
	height:50%;
	-webkit-box-shadow: 2px 2px 2px 2px #02010a;
	-moz-box-shadow: 2px 2px 2px 2px #02010a;
	box-shadow: 2px 2px 2px 2px #02010a;
}

#cajas-foto .foto .efecto1{
	-webkit-filter: blur(10px);
    filter: blur(10px);
}
#cajas-foto .foto .efecto3{
	-webkit-filter: sepia(90%);
}
#cajas-foto .foto .efecto4{
	-webkit-filter: grayscale(100%);
filter: grayscale(100%);
}
/*  FIN STILOS RETRATOS */

/* media queries */
@media(max-width: 768px){
	padre header #marca,	
	padre header nav,
	padre main #main,
	padre header nav li {
		float:none;
		text-align:center;
		width:100%;
	}
	
	padre header{
	  padding-bottom:20px;	
	}
	#cajas .caja{
		width:100%;
		text-align:center;
	}
	#cajas-footer .caja{
		width:100%;
		text-align:center;
	}
	#cajas-foto .foto{
		width:100%;
		text-align:center;
	}
}


/* fin media queries */



